@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");

/* Overall */

	html, body, input, select, textarea {
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 300;
		background-color: #ebeae7;
		height: 100%;
		overflow: scroll;
	    overflow-x: hidden;
	}

	::-webkit-scrollbar {
   		width: 0px;  /* Remove scrollbar space */
    	background: transparent;  /* Optional: just make scrollbar invisible */
	}
	/* Optional: show position indicator in red */
	::-webkit-scrollbar-thumb {
	    background: #FF0000;
	}